:root{
    --primary-color: rgb(184, 21, 26);
    --secondary-color: rgb(28, 27, 27);
    --background-color: rgb(198, 185, 185);
}

body{
    font-family: "PT Serif", serif;
    margin: 0;
    background-color: var(--background-color);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--secondary-color);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}

.logo{
    color: var(--background-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

nav a{
    color: var(--background-color);
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
}

nav a:hover{
    color: var(--primary-color);
}

.rpd {
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
    url('assets/background.jpg') no-repeat center center/cover;
    color: var(--background-color);
    padding: 20px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.9);
}

.rpd h2{
    font-size: 2.1rem;
    margin-bottom: 0.6rem;
}

.rpd h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.rpd p{
    font-size: 1.1rem;
    max-width: 700px;
    margin-bottom: 1.5rem;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2.3px solid var(--primary-color);
}

.info {
    text-align: center;
    padding: 2rem 1rem;
    margin-bottom: 2.5rem;
}

.info h3 {
    font-size: 2.3rem;
    color: var(--secondary-color);
}
.cards-info {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 2.5rem;
}

.cards {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 1.5rem;
    border-radius: 8px;
    width: 270px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.9);
    transition: transform 0.3s ease;
}

.cards:hover {
    transform: translateY(-8px);
    background-color: var(--primary-color);
}

.card-img {
    width: 200px;
    height: 150px;
    border-radius: 15%;
    object-fit: cover;
}

.cards h4 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.suitcase-info {
    height: 60vh;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
    url('assets/maletin.jpg') no-repeat center center/cover;
    color: var(--background-color);
    padding: 2rem 1rem;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.9);
}

.suitcase-info h3 {
    font-size: 2.3rem;
    color: var(--background-color);
}

.suitcase {
    display: flex;
    gap: 10.8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4.5rem;
}

.suitcase img {
    width: 130px;
    object-fit: cover;
}

.suitcase img:hover {
    transform: translateY(-8px);
    transition: transform 0.3s ease,;
}

.suitcase p {
    margin-top: 0.2rem;
    font-weight: bold;
    color: var(--background-color);
}

footer {
    background-color: var(--secondary-color);
    color: var(--background-color);
    text-align: center;
    padding: 2rem 1rem;
}

footer a {
    color: var(--primary-color);
    font-weight: bold;
}
